.App {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
}

.App::before {
	content: "";
	background-image: url("img/book.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
}

.App-header {
	background-color: white;
	padding: 20px;
	text-align: center;
}

.App footer {
	background-color: white;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px 20px;
	text-align: center;
	width: 100%;
}

.App a:hover {
	color: purple;
}

.container {
	position: relative;
}
